<a href="https://colab.research.google.com/github/smitjiwani/reinforcement-learning/blob/main/rl2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math

In [ ]:
#load the dataset
data= pd.read_csv("/content/Ads_CTR_Optimisation.csv")

In [ ]:
#check shape of data (row,columns)
data.shape

(10000, 10)

In [ ]:
#print top 5 rows of dataframe
data.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [ ]:
# Initialization
n = int(data.shape[0])  # Number of rows (users)
d = int(data.shape[1])  # Number of columns (ads)
ads_selected = []  # List to store the selected ads
total_reward = 0    # Initialize total reward

# Simulate ad selections for each user
for i in range(n):
  ad = random.randrange(d)  # Randomly select an ad
  ads_selected.append(ad)  # Add the selected ad to the list
  reward = data.values[i, ad]  # Get the reward for the selected ad and user
  total_reward += reward  # Update the total reward

# Print the total rewards
print(f"Total Rewards :{total_reward}")

# Checking the count of selected ads
print('Number of Times An Ad is Selected')
# Use value_counts to efficiently count ad selections.
# Displaying the last 1500 selections as requested. Adjust tail() value as needed
pd.Series(ads_selected).tail(1500).value_counts(sort=True)

Total Rewards :1250
Number of Times An Ad is Selected

3    166
2    162
7    158
6    156
9    156
0    152
5    143
1    139
4    134
8    134
Name: count, dtype: int64

# Implementing *UCB*

In [ ]:
# UCB Algorithm Implementation
n = int(data.shape[0])  # Number of rounds (rows in the dataset)
d = int(data.shape[1])  # Number of ads (columns in the dataset)

ads_selected = []  # List to store the selected ad in each round
number_of_selections = [0] * d  # Initialize counts of ad selections
sums_of_rewards = [0] * d  # Initialize sums of rewards for each ad
total_reward = 0  # Initialize total reward

# Iterate over each round
for i in range(n):
  ad = 0  # Initialize selected ad for the current round
  max_upper_bound = 0  # Initialize the maximum upper bound for the current round

  # Iterate over each ad to calculate the upper bound
  for j in range(d):
    if number_of_selections[j] > 0:
      # Calculate average reward and delta_i for ads that have been selected at least once
      average_reward = sums_of_rewards[j] / number_of_selections[j]
      delta_i = math.sqrt(3/2 * math.log(n) / number_of_selections[j])
      upper_bound = average_reward + delta_i
    else:
      # Set a very high upper bound for ads that haven't been selected yet
      upper_bound = 1e400

    # Select the ad with the highest upper bound
    if upper_bound > max_upper_bound:
      max_upper_bound = upper_bound
      ad = j

  # Update the lists based on the selected ad
  ads_selected.append(ad)
  number_of_selections[ad] += 1
  reward = data.values[i, ad]
  sums_of_rewards[ad] += reward
  total_reward += reward

# Print the total rewards
print(f"Total Rewards :{total_reward}")
print('Number of Times An Ad is Selected')

# Display the count of times each ad was selected (last 1500 rounds)
pd.Series(ads_selected).tail(1500).value_counts(sort=True)

Total Rewards :2202
Number of Times An Ad is Selected

4    1411
7      35
0      21
1       6
3       6
2       5
6       5
9       4
8       4
5       3
Name: count, dtype: int64